@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');
@import "Assets/scss/mixins.scss";
@import "Assets/scss/vars.scss";

* {
    text-decoration: none;
    list-style: none;
}


body {
    max-width: $container_width;
    margin: 0 auto;
    margin-bottom: 8rem;
    color: black;
    font-family: $font-family;
}


.Header {
    position: sticky;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    clip-path: polygon(100% 0, 100% 100%, 30% 60%, 0 100%, 0 0);
    background-color: black;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    text-align: center;
    z-index: 1;

    h1 {
        color: white;
        border: 1px solid black;
        border-radius: 0.1em;
        padding: 1vh;
        background-color: #AF7627;
        width: 44%;
        font-family: $odibee;
    }

    li {
        display: inline-block;
        margin: 0 1vw;
        font-family: $odibee;

        a {
            color: white;

            :active {
                color: #AF7627;
            }
        }
    }

    .SearchField {
        // border: 2px solid red;
        border-radius: 0.3em;
        @include reset;

        .SearchButton {
            background-color: #999999;
            margin: 0;
            padding: 0;
            width: 3vh;

            img {
                width: 100%;
                filter: invert(100%);
            }
        }
    }
}


.ProductCard {
    display: grid;
    grid-template-columns: auto;
    border: 1px solid black;
    border-radius: 0.2em;
    margin: 1vh;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.75);

    img {
        float: left;
        max-width: 100%;
        height: 200px;
        object-fit: cover;
        overflow: hidden;
    }

    span {
        padding-left: 1.5em;
    }

    p {
        padding-bottom: 1vh;
        margin: 0;
        font-size: 0.8em;
    }

    .ProductCardBottom {
        display: grid;
        grid-template-columns: auto auto auto;
    }

    .EnergyLabel {
        background-color: green;
        width: fit-content;
        height: fit-content;
        padding: 0.5vh 1vh;
        color: white;
        text-align: center;
        margin-bottom: 2vh;
    }
}


.ProductDetails {
    img {
        width: 100%;
        top: -130px;
        z-index: -1;
        position: relative;
    }

    .Detail-col3 {
        display: grid;
        grid-template-columns: 30% 30% 30%;
        grid-gap: 3.5em;
        justify-content: center;

        .DetailIntro {
            float: left;

            h2 {
                margin-bottom: 0;
            }

            p {
                margin: 0.5rem 0;
                padding: 0;
            }
        }

        .DetailIcons {
            img {
                width: 5%;
                border: 1px solid black;
                // border-radius: 3em;
                padding: 1em;
                margin: 1em;
            }
        }

        .DetailInfo {
            span {
                float: right;
            }
        }
    }

    .Detail-col2 {
        display: grid;
        grid-template-columns: 66% 33%;
        grid-gap: 2.5em;

        .DetailContact {
            display: grid;
            grid-template-rows: auto;

            img {
                width: 50%;
                margin-top: 30%;
            }

            p {
                margin: 0;
            }
        }
    }
}


.LoginForm {
    input {
        padding: 2vh 0;
        margin: 2vh 0;
        width: 30%;
        color: black;
        border: solid 1px black;
        border-radius: 0.3em;
        box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
    }

    button {
        margin: 0;
        padding: 0;
        height: 100%;
        width: 7%;
        color: white;
        background-color: black;
        padding: 1em;
        border-radius: 0.3em;
        margin: 1em;
        margin-left: 0;
    }
}


.Footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    background-color: black;
    display: grid;
    grid-template-columns: auto auto auto 40%;
    align-items: center;
    text-align: center;
    height: 6rem;

    div {
        padding-left: 5em;
        padding-right: 5em;

        h3 {
            font-family: $odibee;
            font-size: 2em;
        }

        p {
            margin: 1vh 0;
        }
    }

    .footerIcons {
        margin-left: 15vw;

        img {
            width: 15%;
            filter: invert(100%);
            padding: 1vh;
        }
    }
}